In [ ]:
1.Create a Table of attribute dataset and dress dataset in mysql workbench
Sol:
    
#MySQL Code 
show databases;
create database task;
use task ;
    
#Creating table for Attribute Dataset
create table if not exists attributes (
dress_id int ,
style varchar(30) , 
price varchar(30) , 
rating decimal (10,2) ,
size varchar(30),
season varchar(30),
neckline varchar(30),
sleevelength varchar(30) , 
waiseline varchar(30) ,
material varchar(30) , 
fabrictype varchar(30) , 
decoration varchar(30) , 
patterntype varchar(30) , 
recommendation int
);   


#Inserting Attribute Dataset Records
LOAD DATA INFILE '\Attribute DataSet.csv' INTO TABLE attributes
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

#Checking the data
select * from attributes;

In [ ]:
2.Do a bulk load for these 2 tables for respective dataset in mysql workbench
Sol:
    

#Creating table for Dress Sales
create table if not exists dress_sales (
dress_id int ,
`29/8/2013` int , 
`31/8/2013` int , 
`2/9/2013` int ,
`4/9/2013` int ,
`6/9/2013` int,
`8/9/2013` int,
`10/9/2013` int , 
`12/9/2013` int ,
`14/9/2013` int , 
`16/9/2013` int , 
`18/9/2013` int , 
`20/9/2013` int , 
`22/9/2013` int ,
`24/9/2013` int ,
`26/9/2013` int ,
`28/9/2013` int ,
`30/9/2013` int ,
`2/10/2013` int ,
`4/10/2013` int ,
`6/10/2013` int ,
`8/10/2013` int ,
`10/10/2013` int ,
`12/10/2013` int
);

#Inserting Dress Dataset Records
LOAD DATA INFILE '\Dress Sales.csv' INTO TABLE dress_sales
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

select * from dress_sales
#Coming Correctly

In [ ]:
3.Read these datasets in pandas as a dataframe
Sol:
    
import mysql.connector as connection
import pandas as pd


mydb = connection.connect(host = "Localhost", user = "root", passwd = "password")
query1 = pd.read_sql('select * from task.attributes', mydb)
query2 = pd.read_sql('select * from task.dress_sales', mydb)


#Convert SQL to DataFrame
attributes = pd.DataFrame(query1, columns = ['dress_id', 'style', 'price','rating','size','season','neckline',
                                        'sleevelength','waiseline','material','fabrictype','decoration',
                                        'patterntype','recommendation'])

dress_sales = pd.DataFrame(query2, columns = ['dress_id','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        '24/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013'])


print(attributes)
print(dress_sales)   
#Coming Correctly

In [ ]:
4.Convert Attribute Dataset in JSON Format
Sol:
    
    attributes_json = attributes.to_json()

In [ ]:
5.Store this json dataset into mongodb
Sol:
    
import pymongo
import json
from pymongo import MongoClient, InsertOne
client = pymongo.MongoClient("mongodb+srv://vishal:password@cluster0.hunum.mongodb.net/?retryWrites=true&w=majority") 
db2 = client.test

#Creating Database
database = client['Tas']
collection = database["Json"]

print(attributes)

with open(r'C:\Users\PycharmProjects\mongodb\attribute_data.json') as file:
    file_data = json.load(file)

if isinstance(file_data, list):
    collection.insert_many(file_data)
else:
    collection.insert_one(file_data)

In [ ]:
6.In SQL task, try to perform left join operation with Attribute dataset and dress dataset on column Dress_ID
Sol:
    
join_data = pd.merge(attributes,dress_sales,how = 'left',on = 'dress_id')
print(join_data)

In [ ]:
7.Write the SQL query to find out how many unique dress that we have based on Dress_ID
Sol:
    
import mysql.connector as connection
mydb = connection.connect(host = "Localhost", user = "root", passwd = "password")
cursor = mydb.cursor()
cursor.execute("select count(distinct(dress_id)) from task.attributes")
for i in cursor.fetchall():
  print(i)

In [ ]:
8.Try to find out how many dress is having recommendation 
Sol:
    
print((attributes.recommendation == 0).sum())

In [ ]:
9.Try to find out total dress sales for each and every Dress_ID
Sol:

dress_sales['Sales'] = dress_sales[['29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        ,'26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013']].agg('sum', axis=1)

print(dress_sales.groupby('dress_id')['Sales'].sum())

In [ ]:
10.Try to find out the third highest most selling Dress_ID
Sol:
    
sales_data = dress_sales.groupby('dress_id')['Sales'].sum().reset_index().rename(columns={'sum':'Sales','dress_id' : 'dress_id'})
print(sales_data)
print(sales_data.Sales.nlargest(3).iloc[-1]) 
# 3rd largest sum is 75979