In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins

In [2]:
#1
import pandas as pd
df=pd.read_excel('Superstore_USA.xlsx')
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [124]:
#2
import xlrd
import csv
import mysql.connector as conn
from sqlalchemy import create_engine

In [ ]:
mydb = conn.connect(host = 'localhost', user = 'root', password = 'password')
cursor = mydb.cursor(buffered=True)

In [ ]:
engine = create_engine('mysql+pymysql://root:8067@localhost/superstore')
df = pd.read_excel("SuperStore_USA.xlsx",skipinitialspace = True,names =["RowID","OrderPriority","Discount","UnitPrice","ShippingCost","CustomerID","CustomerName","ShipMode","CustomerSegment","ProductCategory","ProductSub-Category","ProductContainer","ProductName","ProductBase Margin","Region","StateorProvince","City","PostalCode","OrderDate","ShipDate","Profit","Quantityorderednew","Sales","OrderID"])
df.to_sql('orders', con=engine)

In [ ]:
cursor = mydb.cursor()

cursor.execute("SELECT * FROM superstore.df")

result = cursor.fetchall()

for x in result:
    print(x)

In [37]:
#3
df2=pd.read_excel(r'Superstore_USA.xlsx',sheet_name = 'Returns')
df2

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [41]:
orders_returns = pd.merge(df,df2)
a= pd.DataFrame(orders_returns)

In [43]:
a[(a['Status']=='Returned')]['Order ID']

0      9895
1     13959
2     13959
3     36038
4     39490
      ...
93     7107
94     7107
95    42823
96    13638
97    47109
Name: Order ID, Length: 98, dtype: int64

In [36]:
#4
pd.merge(df,df2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [10]:
#5
df['Customer Name'].nunique()

2703

In [44]:
#6
df1=pd.read_excel(r'Superstore_USA.xlsx',sheet_name = 'Users')
df1

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [45]:
df1['Region'].nunique()

4

In [46]:
#7
s=df['Ship Mode'].nunique()
s

3

In [55]:
b = pd.Series(df['Ship Mode']).value_counts()
b

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [56]:
c=pd.DataFrame(b)

In [58]:
(c/s)*100
#df.groupby('Ship Mode')['Row ID'].sum()

                    Ship Mode
Regular Air     234533.333333
Delivery Truck   42766.666667
Express Air      36900.000000

In [32]:
df.head(2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56,4,13.01,88522

In [62]:
#8
df['diff_of_dates']=df['Ship Date']-df['Order Date']

In [63]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff_of_dates
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [65]:
#9
df[(df['diff_of_dates'].dt.components['days']>10)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff_of_dates
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11 days
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

In [92]:
#10
df3= pd.concat([df,df2])

In [91]:
df4 = pd.merge(df1,df3,how= 'inner',)
df4

df4[(df4['diff_of_dates'].dt.components['days']>15)]

,Region,Manager,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff_of_dates,Status
189,Central,Chris,18246.0,Critical,0.05,11.09,5.25,250.0,Brenda Nelson Blanchard,Regular Air,...,Richfield,55423.0,2011-12-29,2012-03-22,58.5000,19.0,204.67,87215,84 days,NaN
4354,East,Erin,19005.0,Low,0.06,65.99,2.50,2088.0,Carrie Boyle,Regular Air,...,Mount Vernon,10550.0,2011-12-28,2012-01-14,187.4880,8.0,451.34,88352,17 days,NaN
5030,East,Erin,2748.0,Low,0.03,11.97,5.81,3251.0,Peter Brooks,Regular Air,...,New York City,10112.0,2011-12-26,2012-01-22,-31.7400,31.0,388.52,19841,27 days,NaN
5031,East,Erin,2749.0,Low,0.08,195.99,4.20,3251.0,Peter Brooks,Regular Air,...,New York City,10112.0,2011-12-26,2012-01-26,-557.9530,13.0,2092.05,19841,31 days,NaN
5041,East,Erin,2750.0,Low,0.06,125.99,8.08,3251.0,Peter Brooks,Express Air,...,New York City,10112.0,2013-12-26,2014-01-14,1304.5590,86.0,9375.35,19841,19 days,NaN
5044,East,Erin,20748.0,Low,0.03,11.97,5.81,3252.0,Milton Harrell,Regular Air,...,Rotterdam,12306.0,2011-12-26,2012-01-22,-15.8700,8.0,100.26,87300,27 days,NaN
5045,East,Erin,20749.0,Low,0.08,195.99,4.20,3252.0,Milton Harrell,Regular Air,...,Rotterdam,12306.0,2011-12-26,2012-01-26,-278.9765,3.0,482.78,87300,31 days,NaN
6151,South,Sam,24392.0,Low,0.05,29.89,1.99,2143.0,Lester Sawyer,Regular Air,...,Fairfax,20151.0,2011-12-26,2012-01-17,4230.2001,12.0,344.16,87572,22 days,NaN
6900,South,Sam,26351.0,Medium,0.00,8.32,2.38,3119.0,Jay Hubbard,Express Air,...,Orlando,32839.0,2011-12-29,2012-01-16,-1075.3960,19.0,170.62,86434,18 days,NaN
6902,South,Sam,26350.0,Medium,0.07,180.98,55.24,3119.0,Jay Hubbard,Delivery Truck,...,Orlando,32839.0,2013-12-29,2014-01-15,-147.5180,25.0,4529.95,86436,17 days,NaN
6903,South,Sam,26352.0,Medium,0.06,4.20,2.26,3119.0,Jay Hubbard,Regular Air,...,Orlando,32839.0,2013-12-29,2014-01-17,-689.8738,2.0,9.64,86436,19 days,NaN
7023,South,Sam,20750.0,Low,0.06,125.99,8.08,3248.0,Earl Donnelly,Express Air,...,Slidell,70458.0,2011-12-26,2012-01-14,2.4780,20.0,2180.31,87300,19 days,NaN
7719,West,William,20703.0,Not Specified,0.07,130.98,30.00,637.0,Christopher Bryant,Delivery Truck,...,Santa Clara,95051.0,2011-12-30,2012-01-16,-211.8850,21.0,2699.94,87957,17 days,NaN
7721,West,William,20705.0,Not Specified,0.08,115.99,4.23,637.0,Christopher Bryant,Regular Air,...,Santa Clara,95051.0,2011-12-30,2012-01-27,1021.4001,16.0,1480.29,87957,28 days,NaN
7738,West,William,2703.0,Not Specified,0.07,130.98,30.00,640.0,Neal Wolfe,Delivery Truck,...,Seattle,98119.0,2011-12-30,2012-01-16,-423.7700,83.0,10671.20,19556,17 days,NaN
7740,West,William,2705.0,Not Specified,0.08,115.99,4.23,640.0,Neal Wolfe,Regular Air,...,Seattle,98119.0,2011-12-30,2012-01-27,727.3620,65.0,6013.69,19556,28 days,NaN
8069,West,William,18060.0,Low,0.02,2.21,1.00,964.0,Virginia Rivera,Regular Air,...,Redwood City,94061.0,2011-12-30,2012-03-31,5.8200,10.0,22.35,86177,92 days,NaN
8719,West,William,21257.0,Low,0.05,7.99,5.03,2153.0,Anna Glenn,Regular Air,...,Pasadena,91104.0,2011-12-26,2012-01-19,-23.4520,2.0,15.56,91294,24 days,NaN

In [93]:
#11
df.groupby(['Region'])['Profit'].aggregate('count').reset_index().sort_values("Profit",ascending = True).max()

Region    West
Profit    2899
dtype: object

In [94]:
#12
df['Discount'].unique()

array([0.01, 0.03, 0.  , 0.09, 0.08, 0.02, 0.07, 0.1 , 0.05, 0.06, 0.04,
       0.11, 0.17, 0.16, 0.25, 0.21])

In [105]:
df['Discount'].nunique()

16

In [106]:
[df[df['Discount']>0.11]['Region']]

[5991    Central
 6000    Central
 8649    Central
 8661    Central
 Name: Region, dtype: object]

In [122]:
#13
df['Postal Code'].unique()

[60101,
 98221,
 91776,
 95123,
 2724,
 3110,
 8101,
 8109,
 7203,
 2907,
 55372,
 11787,
 13210,
 59405,
 59601,
 59801,
 68005,
 10012,
 92653,
 92677,
 92530,
 92630,
 90712,
 93534,
 90260,
 97405,
 97526,
 97030,
 97123,
 97303,
 62002,
 98373,
 98052,
 75019,
 23834,
 62701,
 60107,
 60477,
 14150,
 12180,
 77642,
 75080,
 77471,
 78664,
 75088,
 24153,
 94043,
 92563,
 94559,
 10177,
 2917,
 5401,
 4070,
 2331,
 8830,
 8701,
 7470,
 7481,
 5201,
 97035,
 44708,
 45231,
 44105,
 95687,
 5451,
 94591,
 70056,
 22102,
 60601,
 66209,
 66215,
 66502,
 66062,
 6510,
 4401,
 4005,
 2129,
 2038,
 1852,
 1752,
 2067,
 3820,
 8618,
 7644,
 7110,
 8861,
 7095,
 2895,
 97128,
 97504,
 98103,
 84118,
 84041,
 93277,
 76903,
 78207,
 60004,
 94952,
 1510,
 1106,
 1880,
 6401,
 6360,
 2664,
 15122,
 76148,
 5439,
 5403,
 37664,
 37918,
 37086,
 37087,
 80525,
 80817,
 60452,
 76131,
 98059,
 99352,
 37804,
 70802,
 4092,
 7024,
 76240,
 98158,
 78415,
 94122,
 4011,
 4240,
 2474,
 2540,
 1580,
 3038,
 60505,
 84043,
 84321,
 66212,
 48138,
 85335,
 74006,
 75217,
 77536,
 90660,
 13501,
 11580,
 63114,
 84044,
 84047,
 84107,
 60453,
 2021,
 2766,
 7101,
 28227,
 60302,
 60462,
 50208,
 80027,
 66203,
 81503,
 80634,
 37922,
 38109,
 55423,
 55901,
 55113,
 80126,
 80232,
 17331,
 33772,
 87505,
 12208,
 44106,
 43229,
 78589,
 86001,
 85234,
 85301,
 30297,
 28204,
 6824,
 6111,
 6226,
 7109,
 66614,
 67212,
 80538,
 80233,
 80134,
 6830,
 6770,
 6855,
 4073,
 1069,
 2725,
 21234,
 21128,
 21208,
 20854,
 98115,
 91945,
 94404,
 60130,
 1007,
 7111,
 8052,
 21133,
 60510,
 3045,
 7410,
 97045,
 97206,
 44221,
 6478,
 33181,
 4101,
 3246,
 3101,
 7010,
 2878,
 33132,
 13601,
 85338,
 86401,
 19406,
 93727,
 4072,
 7628,
 7071,
 2816,
 2910,
 2886,
 94601,
 2149,
 1840,
 48234,
 37814,
 62223,
 61008,
 61701,
 60440,
 19026,
 68025,
 68801,
 68847,
 68502,
 48509,
 63105,
 13021,
 13905,
 28001,
 45406,
 43015,
 95240,
 90805,
 4901,
 8360,
 78666,
 7026,
 93405,
 94403,
 2358,
 7201,
 7032,
 7666,
 68104,
 89701,
 94583,
 92704,
 6010,
 6108,
 4330,
 1462,
 2370,
 7047,
 7480,
 61801,
 68701,
 56301,
 94024,
 93635,
 95032,
 90266,
 1923,
 2457,
 3054,
 8332,
 90069,
 92683,
 90604,
 2019,
 1915,
 2341,
 7506,
 8601,
 30318,
 1845,
 39180,
 11704,
 11795,
 60543,
 95020,
 4106,
 2062,
 7042,
 10154,
 24281,
 37130,
 84404,
 84057,
 55416,
 46041,
 42104,
 41011,
 95336,
 4038,
 2148,
 8753,
 76067,
 11226,
 97756,
 85204,
 85737,
 84062,
 64064,
 63043,
 22025,
 60061,
 93101,
 95051,
 26501,
 88201,
 78155,
 75090,
 90008,
 68046,
 84604,
 60067,
 60068,
 60087,
 60185,
 75081,
 60187,
 60090,
 39701,
 89015,
 61554,
 61604,
 91767,
 6415,
 4210,
 2032,
 1801,
 3301,
 8021,
 7031,
 7054,
 60091,
 60517,
 46016,
 47401,
 46032,
 47201,
 21136,
 81001,
 90045,
 14224,
 10605,
 10701,
 97301,
 97477,
 97224,
 81007,
 48195,
 5701,
 43952,
 20852,
 20602,
 55106,
 55378,
 95062,
 93454,
 98119,
 60544,
 62301,
 55379,
 60089,
 89115,
 91730,
 2116,
 1540,
 77373,
 37211,
 75203,
 52501,
 64133,
 63301,
 64506,
 98387,
 99207,
 98408,
 77478,
 63116,
 63376,
 80229,
 80030,
 46307,
 46312,
 98105,
 90041,
 90405,
 95404,
 95070,
 6040,
 6460,
 6850,
 6702,
 1520,
 2152,
 7067,
 2840,
 48841,
 89031,
 89041,
 41042,
 6614,
 1803,
 1420,
 1089,
 2190,
 3053,
 3079,
 7003,
 7016,
 7039,
 8232,
 7901,
 85345,
 85023,
 60423,
 40324,
 86301,
 86314,
 97062,
 61201,
 98661,
 14215,
 61107,
 97068,
 18103,
 16602,
 72143,
 92054,
 6033,
 6484,
 6437,
 92691,
 95351,
 6512,
 7001,
 73064,
 27502,
 84067,
 29915,
 84106,
 32168,
 37830,
 42420,
 85254,
 8046,
 99362,
 37167,
 37174,
 79605,
 75002,
 79109,
 71854,
 80033,
 21222,
 6511,
 8002,
 91745,
 93117,
 6114,
 2210,
 1450,
 1060,
 3839,
 92544,
 92345,
 6405,
 6810,
 6492,
 75503,
 77590,
 46514,
 55126,
 89502,
 66202,
 11575,
 85635,
 93422,
 20746,
 76017,
 78745,
 77520,
 77705,
 76021,
 89431,
 20024,
 83616,
 76201,
 33430,
 10039,
 1887,
 7652,
 42240,
 26003,
 78521,
 77803,
 76028,
 96003,
 92374,
 1463,
 7008,
 8857,
 7050,
 7501,
 90278,
 6776,
 2127,
 1605,
 7002,
 2914,
 90049,
 75482,
 75067,
 19901,
 19711,
 94061,
 60610,
 6105,
 2108,
 3842,
 92503,
 95677,
 2339,
 1841,
 7079,
 91761,
 1718,
 1701,
 1040,
 2151,
 7650,
 93030,
 3431,
 7601,
 7450,
 11720,
 60459,
 7712,
 72022,
 28806,
 27217,
 27511,
 66762,
 55125,
 15221,
 11722,
 14225,
 11725,
 27514,
 28205,
 28027,
 27707,
 43017,
 15102,
 95695,
 95991,
 92399,
 90004,
 6473,
 2109,
 7030,
 85351,
 85374,
 3060,
 2864,
 11727,
 10573,
 60409,
 62901,
 18018,
 60441,
 60174,
 60193,
 60076,
 11729,
 11746,
 8816,
 8817,
 7646,
 65721,
 10282,
 18040,
 75220,
 77566,
 75146,
 78041,
 77573,
 80004,
 85281,
 85705,
 85364,
 72714,
 72015,
 92592,
 95661,
 75116,
 78852,
 78539,
 2118,
 79907,
 76039,
 75234,
 60188,
 75056,
 77381,
 75701,
 77901,
 76706,
 75165,
 76086,
 6611,
 1821,
 1056,
 1075,
 7801,
 90640,
 1876,
 7086,
 3801,
 7407,
 8226,
 7070,
 19805,
 32701,
 2040,
 10280,
 27237,
 84660,
 84663,
 35756,
 92646,
 90301,
 6050,
 6790,
 20016,
 34142,
 1108,
 1776,
 7843,
 2920,
 32712,
 46806,
 46404,
 46530,
 97420,
 19013,
 2112,
 1906,
 2451,
 7052,
 2861,
 19140,
 98801,
 75028,
 76106,
 75007,
 75104,
 78613,
 36830,
 35020,
 78641,
 10009,
 75057,
 60110,
 61821,
 77530,
 76031,
 80013,
 80303,
 40422,
 80020,
 80104,
 80906,
 73521,
 33433,
 33437,
 34210,
 91941,
 1930,
 8401,
 7097,
 46142,
 46324,
 47591,
 19134,
 15241,
 6320,
 47274,
 1749,
 2153,
 33180,
 75601,
 84074,
 98902,
 25314,
 82604,
 84084,
 84120,
 60623,
 11554,
 90058,
 80022,
 80219,
 77840,
 2478,
 1453,
 2744,
 8302,
 8028,
 7940,
 62234,
 10170,
 17201,
 77546,
 33511,
 33063,
 33055,
 78596,
 76308,
 52761,
 48101,
 32707,
 79424,
 75901,
 76063,
 75098,
 95207,
 6408,
 2703,
 1832,
 22304,
 46342,
 46203,
 94025,
 94086,
 91360,
 1027,
 1867,
 8863,
 60653,
 48104,
 49017,
 48708,
 84003,
 92553,
 95037,
 2113,
 47130,
 46901,
 47905,
 28031,
 44112,
 80112,
 21146,
 20901,
 44035,
 44117,
 65807,
 63130,
 63135,
 16509,
 17112,
 96150,
 6795,
 2638,
 8901,
 97801,
 29687,
 46226,
 46952,
 46410,
 68601,
 84010,
 84015,
 43081,
 44145,
 44691,
 82001,
 82716,
 33134,
 53110,
 60016,
 60516,
 46360,
 10045,
 94044,
 32137,
 59901,
 14901,
 33065,
 60478,
 46544,
 47302,
 47150,
 62205,
 6488,
 6710,
 1545,
 2072,
 55305,
 35211,
 35601,
 27288,
 92262,
 63385,
 92253,
 78363,
 33314,
 32114,
 46060,
 46368,
 47374,
 39530,
 39056,
 38701,
 39503,
 22003,
 22204,
 24060,
 78501,
 75150,
 33441,
 32720,
 60123,
 45385,
 28314,
 28307,
 6607,
 77571,
 63044,
 44094,
 44511,
 25705,
 82070,
 68901,
 20601,
 11598,
 11010,
 11520,
 95823,
 93905,
 2445,
 1748,
 45324,
 46322,
 97601,
 17602,
 46375,
 11542,
 10528,
 37743,
 74012,
 77095,
 39401,
 38637,
 39212,
 92404,
 94070,
 6901,
 11714,
 60098,
 27203,
 98072,
 90503,
 15131,
 33403,
 33445,
 22015,
 22901,
 23320,
 67114,
 25801,
 45014,
 45840,
 60611,
 77301,
 60007,
 20190,
 72701,
 72903,
 71901,
 19057,
 39301,
 44118,
 19464,
 30062,
 30907,
 30265,
 49534,
 27529,
 35473,
 72401,
 72209,
 92037,
 43026,
 45424,
 44240,
 45429,
 83843,
 88310,
 20012,
 11550,
 28052,
 27534,
 27405,
 27834,
 75034,
 30305,
 73034,
 73703,
 73505,
 73110,
 90036,
 79701,
 95376,
 1607,
 32725,
 34698,
 63141,
 60126,
 60201,
 61032,
 32780,
 46614,
 47802,
 46383,
 47906,
 50010,
 92672,
 92105,
 1945,
 30188,
 59102,
 61401,
 60137,
 94110,
 50021,
 52722,
 63119,
 26101,
 36330,
 90032,
 38654,
 39208,
 48187,
 49236,
 48126,
 48127,
 33178,
 11801,
 52601,
 50613,
 52402,
 15146,
 38671,
 1810,
 2334,
 1469,
 43230,
 1886,
 11741,
 35630,
 92008,
 6443,
 2110,
 1826,
 2035,
 2169,
 1550,
 1570,
 7080,
 7090,
 2808,
 87105,
 94306,
 22193,
 24541,
 ...]

In [114]:
#14
df.groupby(['Customer Segment'])['Profit'].aggregate('count')

Customer Segment
Consumer          1894
Corporate         3375
Home Office       2316
Small Business    1841
Name: Profit, dtype: int64

In [117]:
#15
df[df['Profit']<0].reset_index().sort_values('Profit', ascending = True).iloc[[9]]

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff_of_dates
2387,4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,...,California,San Francisco,94110,2013-03-23,2013-03-24,-7961.4309,1,3360.3,90778,1 days

In [120]:
#16
df.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
1515       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
5050       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object